body {
    margin: 5vw 12vw 5vw 12vw;
    box-shadow: black 0 0 10px;
    background: white;
    padding: 10px;
    text-align: center;
}

p {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}